<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    welcome to home page
    {{data}}
    <table>
    {% for i in data %}
    <tr>
    <th>
    {{i.id}}
    </th>
    <th>
    {{i.Name}}
    </th>
    <th>
    {{i.Adress}}
    </th>
    <th>
    {{i.Phone_no}}
    </th>
    <th>
    {{i.course}}
    </th>
    </tr>
    {% endfor %}
    </table>
</body>
</html>